.main {
    margin: 10rem 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
}

.main>section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 4rem);
    justify-content: center;
    gap: 1rem;
}

.main>section:nth-child(2n) {
    align-items: flex-end;
    text-align: right;
    color: #1E1E1E;
}

h3 {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem 0;
}

p {
    font-size: 1.25rem;
    margin: 0;
    padding: 0.5rem 0;
}

.lottie {
    width: 100%;
    height: auto;
    padding: 1rem;
}