.cardContainer {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12rem;
    justify-content: space-between;
}

.cardContainer > * {
    display: flex;
    flex-direction: column; 
    width: calc(50% - 12rem);
    justify-content: center;
}

.cardContainer > :nth-child(2n) {
    align-items: flex-end;
    text-align: right;
    color: #1E1E1E;
}

h3 {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem 0;
}

p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 0;
}

.cardContainer > * > img {
    width: 100%;
    height: auto;
    padding: 1rem;
}