/* .mainpart {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
    justify-items: center;
    align-items: center;
}

.mainpart > * > * > * {
    border: red solid 1px;
} */