:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: linear-gradient(102deg, white 55dvw, #1E1E1E 45dvw);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
}

a {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

h3, p {
  mix-blend-mode: difference;
  color: #ffffff;
}